<h1><%= @user.username %>'s Profile</h1>

<p>Email: <%= @user.email %></p>

<h3>Recent Logs:</h3>
<% @recent_logs.each do |log| %>
  <p><%= log.game.title %> — <%= log.created_at.to_date %></p>
<% end %>

<hr>

<h3>Your Lists</h3>

<% if @lists.any? %>
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        (<%= pluralize(list.list_items.count, "game") %>)
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no lists yet.</p>
<% end %>
