<div class="lists-header">
  <div class="header-content">
    <h1 class = "page-title"><%= @user.username %>'s Profile</h1>
    <p>Email: <%= @user.email %></p>
  </div>
</div>

<div class="main-content-container">

  <!-- LOGS & COVER ART -->
  <h3 class="bold-text">Recent Logs:</h3>
  <div class="game-grid">
        <% @recent_logs.each do |log| %>
        <%= link_to game_path(log.game.game_id), class: "game-card" do %>
            <div class="poster-frame">
              <% if log.game.cover_url.present? && log.game.cover_url != "NO COVER" %>
                <img src="<%= log.game.cover_url %>" alt="<%= log.game.title %>" loading="lazy">
              <% else %>
                <div class="no-image">
                  Cover Art<br>Not Available
                </div>
            <% end %>
            <div class="hover-overlay">
              <span class="play-overlay-text">
              Played : <%= log.play_date.strftime("%b %d, %Y") %>
              </span>
            </div>
          </div>

            <div class="game-info">
            <span class="game-title"><%= log.game.title %></span>
            </div>
          <% end %>
      <% end %>
  </div>

  <% if @lists.any? %>
    <ul>
      <% @lists.each do |list| %>
        <li>
          <%= link_to list.title, list_path(list) %>
          (<%= pluralize(list.list_entries.count, "game") %>)
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You have no lists yet.</p>
  <% end %>
</div>
